$primary-intro: #1c2431;
$primary-main: #181f2a;
$pimary-footer: #0b1523;
$testimonials: #202a3c;

$call-to-action-1: hsl(176, 68%, 64%);
$call-to-action-2: hsl(198, 60%, 50%);
$footer: hsl(216, 53%, 9%);
